// #skb-clue {
//     border: 1px solid #7c7c7c2f;
//     padding: 0px 8px;
//     border-radius: 12px;
//     position: relative;
// }

#skb-clue #skb-content-learn-more {
    cursor: pointer;
    display: flex;
    text-align: center;
    margin: 0;
    font-weight: bolder;
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    align-items: start;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 32px;
}

// #skb-clue #skb-content-learn-more:hover {
//     /* text-decoration: underline; */
//     background-color: #bbc0c4;
// }

#skb-clue .skb-content {
    opacity: 0;
    -webkit-transition: opacity 750ms ease-out;
    -moz-transition: opacity 750ms ease-out;
    -o-transition: opacity 750ms ease-out;
    transition: opacity 750ms ease-out;
}

#skb-clue .skb-content.skb-visible {
    display: block;
    opacity: 1;
}
